<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>吃货食铺</title>
    <link rel="stylesheet" href="/stylesheets/head.css">
    <link rel="stylesheet" href="/stylesheets/productlist.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function(){
            var userName='';
            $.post('../cookies',function(data,status){
                console.log(data)
                userName=data.username;
                if(data.username != undefined){
                    $('.user').empty();
                    $('.user').append(`<a class='fl' href="../src/personal.html">${data.username}</a>`);
                    $('.user').append(`<a class='fl' id="quit" href="javasscript:void(0)" style="margin-left: 10px;color: blue;">退出</a>`);
                    $('.personal a').attr('href','../src/personal.html');
                    $('.cart a').attr('href','./cart');
                }else{
                    $('.user').append(`<a class='fl' href="../src/signin.html">登录&nbsp;|&nbsp;</a>
                 <a class='fl' href="../src/login.html">注册</a>`)
                    $('.personal a').attr('href','../src/signin.html');
                    $('.cart a').attr('href','../src/signin.html');
                }
            })
            for(var i=0;i< $('#nav li').length;i++){
                $('#nav li a').on('click',function () {
                    location.href=`productlist?product_type=${$(this).attr('data-type')}`
                })
            }
            for(var i=0;i< $('.snack_wrap li').length;i++) {
                $('.snack_wrap li a[data-id]').on('click', function () {
                    location.href = `product_detail?product_id=${$(this).attr('data-id')}`
                })
            }
                $('.snack_wrap ul li').hover(
                    function () {
                        $(this).css('border','2px solid #ed5781');
                    },
                    function () {
                        $(this).css('border','');
                    }
                )
            $('.btn_collect').on('click',function(){
                console.log($(this).attr('data-collect'));
                console.log(userName);
                $.post('../insertCollect',{
                    'username':userName,//传入用户名
                    'productId':$(this).attr('data-collect')
                },function (data,status) {
                    console.log(data);
                })
            })
            $('.btn_cart').on('click',function () {
                location.href=`add2Cart?product_id=${$(this).attr('data-cart')}&product_num=1&username=${userName}`;
            })
        })
    </script>
</head>
<body>
<div class="head">
    <div class="top">
        <div class='leftContent fl'>
            <span class='fl'>您好，欢迎您来到中国零食网！</span>
            <div class="user fl">
                <!--<a class='fl' href="../src/signin.html">登录&nbsp;|&nbsp;</a>-->
                <!--<a class='fl' href="../src/login.html">注册</a>-->
            </div>
        </div>
        <div class='rightContent fr'>
            <ul>
                <li class='fl' class="personal"><a href="../src/personal.html">个人中心&nbsp;&nbsp;|</a></li>
                <li class='fl' class="cart"><a href="../cart">购物车&nbsp;&nbsp;|</a></li>
                <li class='fl'><a href="##">积分兑换&nbsp;&nbsp;|</a></li>
                <li class='fl'><a href="##">帮助中心&nbsp;&nbsp;</a></li>
            </ul>
        </div>
    </div>
    <div class="herader">
        <div class="logo">
        </div>
        <div class="clear"></div>
        <div id="search">
            <div id="searchBg">
                <input class='fl' type="text" placeholder="搜索">
                <input class='search_btn fl'type="submit" value='找零食'>
            </div>
            <ul>
                <li class='fl'><a href="###">海苔</a></li>
                <li class='fl'><a href="###">果冻</a></li>
                <li class='fl'><a href="###">饼干</a></li>
                <li class='fl'><a href="###">锅巴</a></li>
                <li class='fl'><a href="###">威化饼</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="nav">
    <ul>
        <li class="fl"><a href="../../storeIndex">首页</a></li>
        <li class="fl"> <a href="###" data-type="all">所有宝贝</a></li>
        <li class="fl" ><a href="###" data-type="f07">坚果炒货</a></li>
        <li class="fl" ><a href="###" data-type="f02">饼干糕点</a></li>
        <li class="fl" ><a href="###" data-type="f05">糖果巧克力</a></li>
        <li class="fl" ><a href="###" data-type="f01">蜜饯果干</a></li>
        <li class="fl" ><a href="###" data-type="f04">肉类制品</a></li>
        <li class="fl" ><a href="###" data-type="f06">海味零食</a></li>
        <li class="fl" ><a href="###" data-type="f03">膨化零食</a></li>
        <li class="fl" ><a href="###" data-type="f08">饮料</a></li>
        <li class="fl" ><a href="###" data-type="f09">速食</a></li>
    </ul>
</div>
<div class="wrap">
    <div class="main">
        <div class="crumbs">
            当前位置：<span>首页</span><code>></code><span><%= product_species %></span>
        </div>
        <div class="snack_wrap">
            <ul>
                <% product_list.forEach(function(product){ %>
                <li>
                    <a href="###" data-id="<%= product.product_id%>" class="img"><img src="<%= product.product_mainimg.substring(6)%>" alt=""></a>
                    <p class="product_name"><%= product.product_name%></p>
                    <p class="price">￥<%= product.product_price%></p>
                    <p class="btn">
                        <a href="javascript:void(0);" class="btn_cart" data-cart="<%= product.product_id%>" >加入购物车</a>
                        <a href="javascript:void(0);" class="btn_collect" data-collect="<%= product.product_id%>">收藏</a>
                    </p>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>

</div>
</body>
</html>
<!--<li>-->
<!--<a href="" class="img"><img src="../images/12122_thumb_P_1497936894497.jpg" alt=""></a>-->
<!--<p class="product_name">我本满足原味肉松蛋卷225g</p>-->
<!--<p class="price">￥13.90</p>-->
<!--<p class="btn">-->
<!--<a href="" class="btn_cart">加入购物车</a>-->
<!--<a href="" class="btn_collect">收藏</a>-->
<!--</p>-->
<!--</li>-->